<h2>Search Results for City</h2>

<p>Interactive map with pictures, would be ideal</p>

<p>




  <%= image_tag "https://farm#{@farm_id}.staticflickr.com/#{@server_id}/#{@id}_#{@secret}_m.jpg" %>



</p>
