<h2>User Profile</h2> <a href="/profiles/edit">Update Profile</a>

<h3>My Favorite Locations</h3>

<ul>
  <% @places.each do |place| %>
    <li><%= link_to place.location, place_path(place) %></li>
  <% end %>
</ul>
