

<h2><%= @place.location %></h2>


<br>

<%= link_to "Delete Place", place_path(@place), method: :delete, confirm: true%>


<h3>Photos</h3>


<% @place.photos.each do |photo| %>
<div class="photo">
  <img src= "<%=photo.flickr_id %>">
</div>


<%= link_to "My Favorite Places", places_path %>



<% end %>
