

<h2><%= @place.location %></h2>


<br>

<%= link_to "Edit This Place", edit_place_path(@place) %>
<br>
<%= link_to "Delete This Place From My Favorites List", place_path(@place), method: :delete, confirm: true%>

<br>
<%= link_to "My Favorite Places", places_path %>

<h3>Photos</h3>
