<div class="welcomeBg">
	<div class="welcomePage">
		<%= link_to image_tag("logoexport-01_1024.png", :class => "markerPng") %>
		<div><h2>Welcome to</h2> <h1>Geo.Pic!</h1></div>

		<p>Search through any location, country or city, visually, without having to be there. Save your favorite locations and explore!</p>
		<p>

		  <%= form_tag '/search', method: :get do %>
		    <%= text_field_tag :search, nil, :placeholder => "ex: Austin Texas", :class => 'searchBox' %>
		    <%= submit_tag 'Search', class: 'button' %>
		  <% end %>
		</p>
	</div>
</div>
